@import 'mixins', 'functions';

.container {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.625rem space(2);
}

.links {
  display: flex;
  align-items: center;
  gap: space(2);
  height: 100%;
  margin-left: auto;

  li {
    @include russo-font();

    color: #6e8291;
  }
}
