@import 'mixins', 'functions';

.container {
  @include button-reset();
  @include animation();
  @include russo-font();

  $root: container;

  min-width: space(5);
  min-height: space(5);
  padding: space(1) space(1.5);
  border: 0;
  font-size: 1rem;
  color: var(--color-text-base);

  &:hover {
    color: var(--color-text-tertiary);
  }

  &:active {
    transition-duration: 0ms;
    color: var(--color-text-accent);
  }

  &_onlyIcon {
    padding: space(1);

    .accessoryStart,
    .accessoryEnd {
      margin: 0;
    }
  }

  &_text {
    background-color: transparent;
    border-color: transparent;
  }

  &_filled {
    background-color: var(--color-complement);
    border-color: var(--color-complement);
  }
}

.text {
  pointer-events: none;
}

.accessoryStart,
.accessoryEnd {
  display: inline-flex;
}

.accessoryStart {
  margin-inline-end: space(1);
}

.accessoryEnd {
  margin-inline-start: space(1);
}
