/*========================
GLOBAL
LAYOUT AND COMMON STYLES
=========================*/

:root {
  color-scheme: dark;
}

html {
  min-width: 320px;
  font-family: 'Russo One', 'Roboto', sans-serif;
  overflow-x: hidden;
  background-color: var(--color-root-base);
}

body,
#__next {
  min-height: 100vh;
}

.icon {
  fill: currentColor;
  pointer-events: none;
  user-select: none;
}
