/*========================
GLOBAL
LAYOUT AND COMMON STYLES
=========================*/

:root {
  color-scheme: dark;
}

html {
  min-width: 320px;
  overflow-x: hidden;
}

body,
#__next {
  min-height: 100vh;
}
