@import 'functions';

.container {
  --sidebar-width: #{rem(340px)};

  display: grid;
  grid-template-columns: rem(340px) 1fr;
  grid-template-areas: 'sidebar .';
  width: 100%;
  height: 100%;
}

.sidebar {
  padding: 0 space(6);
  background-color: var(--color-root-faint);

  &__wrapper {
    top: 60px;
    padding: 0;
  }
}
