@import 'mixins', 'animations', 'functions';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: space(3) space(4);
}

.like {
  @include grow(1.5);

  padding: space(1);
  border: 0;
  background-color: transparent;
}
