@import 'mixins', 'animations', 'functions';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: space(3) space(4);
}

.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: space(0.5);

  &__like {
    @include grow(1.5);
  }
}
