@import 'mixins';
@import 'animations';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  padding: var(--space-3) var(--space-4);
}

.logo {
  @include russo-font();
}

.like {
  @include grow(1.5);

  padding: var(--space-1);
  border: 0;
  background-color: transparent;
}
