@import 'mixins', 'functions';

.menu {
  @include text-font(rem(20px), 400, 1.4);
  @include letter-spacing();

  padding-top: space(6);
  padding-bottom: space(6);

  &__list {
    gap: space(5);
  }
}
