@import 'mixins', 'functions';

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.separator {
  @include russo-font(rem(12px));

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  pointer-events: none;
  color: var(--color-text-accent);
}

.area {
  @include russo-font();

  display: flex;
  align-items: center;
  height: 100%;
  flex-basis: 50%;

  &.left {
    justify-content: flex-end;
    padding-right: space(4);

    span {
      &::before {
        content: '';
        position: absolute;
        top: 5px;
        display: block;
        width: 100%;
        height: 32px;
        background-image: url(../../../public/read-decor.svg);
        background-position: right;
        background-repeat: no-repeat;
        transform: translateY(-100%);
      }

      &::after {
        content: '';
        position: absolute;
        right: -10px;
        bottom: -10px;
        display: block;
        width: 10px;
        height: 10px;
        background-image: url(../../../public/plus-decor.svg);
        background-position: right;
        background-repeat: no-repeat;
      }
    }
  }

  &.right {
    justify-content: flex-start;
    padding-left: space(4);

    span {
      &::before {
        content: '';
        position: absolute;
        left: -5px;
        top: -15px;
        display: block;
        width: 10px;
        height: 10px;
        background-image: url(../../../public/plus-decor.svg);
        background-position: right;
        background-repeat: no-repeat;
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 3px;
        display: block;
        width: 100%;
        height: 19px;
        background-image: url(../../../public/atmosphere-decor.svg);
        background-position: left;
        background-repeat: no-repeat;
        transform: translateY(100%);
      }
    }
  }

  span {
    position: relative;
    font-size: 2rem;
  }
}
