@import 'mixins', 'functions';

.container {
  display: flex;
  align-items: center;
  justify-content: center;

  &.small {
    .list {
      min-height: space(2.5);
    }

    .item {
      font-size: 0.875rem;
    }
  }

  &.medium {
    .item {
      font-size: 1rem;
    }
  }
}

.list {
  display: flex;
  align-items: center;
  gap: space(5);
}

.item {
  @include russo-font();
}
