@import 'mixins', 'functions';

.menu {
  @include text-font(1rem, 500, 1.4);
  @include letter-spacing();
  @include animation(opacity, 0.5s, ease-in-out);

  padding-top: space(7);
  padding-bottom: space(7);
  padding-left: space(3);

  &_hidden {
    opacity: 0;

    &:hover {
      transition-duration: 0.2s;
      opacity: 1;
    }
  }
}

.chapterNumber {
  display: inline-block;
  min-width: space(6.5);
  padding-right: space(1);
  text-align: start;
  color: currentColor;
}
