@import 'functions';

.default {
  display: inline-flex;
  align-items: center;

  a {
    width: 100%;
    display: inline-block;

    //&::before {
    //  content: counter(item, upper-roman) '.';
    //  display: inline-block;
    //  min-width: space(6.5);
    //  padding-right: space(1);
    //  text-align: start;
    //  color: currentColor;
    //  counter-increment: item;
    //}
  }
}

.accessoryStart,
.accessoryEnd {
  display: inline-flex;
}

.accessoryStart {
  margin-inline-end: space(1);
}

.accessoryEnd {
  margin-inline-start: space(1);
}
