/*========================
MIXINS
=========================*/

@mixin button-reset() {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 40px;
  min-height: 40px;
  outline: 0;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-size: 14px;
  text-decoration: none;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

@mixin heading-font($fontSize: 1rem, $lineHeight: 1.25) {
  font-family: 'Russo One', sans-serif;
  font-size: $fontSize;
  line-height: $lineHeight;
}

@mixin text-font($fontSize: 1rem, $fontWeight: 400, $lineHeight: 1.25) {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
}

@mixin letter-spacing() {
  letter-spacing: 0.03em;
}

@mixin animation(
  $property: all,
  $duration: 150ms,
  $timing: ease-in-out,
  $delay: 0ms
) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}
