:root {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-complement: #9646fb;

  --color-root-accent: #46d0fb;
  --color-root-base: #0b0b0b;
  --color-root-tertiary: #121212;

  --color-text-accent: #46d0fb;
  --color-text-base: #f9f9f9;
  --color-text-faint: #b2d5ee;
  --color-text-tertiary: #b2d5ee;
  --color-text-quaternary: #6e8291;

  --color-icon-base: #edeeef;
  --color-icon-accent: #0ebbf1;
  --color-icon-faint: #b2d5ee;

  --color-line-base: #21282a;

  --header-height: 5rem;

  --sidebar-width: minmax(20rem, 1fr);
}
